body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

/* Menu navigation */

.container-menu {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;

}

.logo-studio {
    color: #2E2F42;
}

.nav-list-item {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: #404BBF;
}

.studio {
    position: relative;
    color: #404bbf;
}
.studio::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: #404BBF;;
    height: 4px;
    border-radius: 2px;
    bottom: -3.5px; 
    }

.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.contacts-item:hover, .contacts-item:focus {
    color: #404BBF;
}

/* Hero */

.section-hero {

    text-align: center;
    padding: 188px 0;
    margin: 0 auto;
    background-image: 
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}   

.order-service-button {
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: #404BBF;
}

/* Benefits */
.section-benefits {
    padding: 120px 0;
    background-color: #FFFFFF;

}

.benefits-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
}

.blist-item-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.blist-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    position: relative;
    margin-bottom: 8px;
}

.benefits-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/* Our Team */



.section-team {
    display: flex;
    flex-direction: column;
    background-color: #f4f4fd;
    align-items: center;
    padding: 120px 0
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color:#2E2F42;
    margin-bottom: 72px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 3 * 24px) / 4);
}

.tlist-item-container {
    padding: 32px 0;
}
.tlist-item-text {
    text-align: center;
    margin-bottom: 16px;
}

.tlist-item-title {
    text-align: center;
    margin-bottom: 8px;
}
.social-icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.social-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf; 
}

.social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* Our portfolio */

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #FCFCFC;
}


.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.plist-item-container:hover {
    border-color: #F4F4FD;
}

.plist-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.plist-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.plist-image-container {
    position: relative;
    overflow: hidden;
}

.plist-overlay {
    background-color: #4D5AE5;
    padding: 40px 32px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.plist-image-container:hover .plist-overlay {
    transform: translateY(0);
}

/* Footer */

.page-footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
display: flex;
align-items: baseline;
}


.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-studio-footer {
    color: #F4F4FD;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;

}

.footer-links-text {
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
}

.footer-tagline {
    margin-right: 120px;
}

.fsocial-icon-list {
    display: flex;
    gap: 16px;
}

.fsocial-icon-container {
    width: 40px;
    height: 40px;
}

.fsocial-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fsocial-icon-link:hover, .fsocial-icon-link:focus {
    background-color: #31d0aa;
}
.fsocial-icon {
    fill: #F4F4FD;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    background-color: #4D5AE5;
    min-width: 165px;
    height: 40px;
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.subscription-form {
    display: flex;
    justify-content: flex-start;
}

.subscription {
margin-left: 80px;
}

.subscription-form {
    gap: 24px;
}

.subscribe-text {
    color: #FFFFFF;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.5;
        margin-bottom: 16px;
}

input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #ffffff;
    line-height: 2;
    letter-spacing: 0.02em;

}

.email {
    font-size: 12px;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
}

.footer-btn svg {
    fill: white;
    margin-left: 16px;
}



/* modal */






.backdrop { 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;

}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.close-btn:hover, .close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-block {
    margin-bottom: 8px;
    position: relative;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}


.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input-container {
    position: relative;
}

.form-input:focus {
border-color: #4D5AE5;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-form-comment {
    margin-bottom: 16px;

}

.modal-comment-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-comment-textarea:focus {
    border-color: #4D5AE5;
}


.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;

}

.check-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;

}

.checkbox-input:checked+label>span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;

}
.policy-link {
    color: #4d5ae5;
}

.send-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* input:focus+svg {
    fill;
    ...;
} */